<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Studyboard | Home</title>
        <link href="/style/global/div.css" rel="stylesheet" type="text/css"/>
        <link href="/style/global/text.css" rel="stylesheet" type="text/css"/>
        <link href="/style/index/dash.css" rel="stylesheet" type="text/css"/>
        <link href="/style/index/image_gal.css" rel="stylesheet" type="text/css"/>
        <link href="/style/index/alert.css" rel="stylesheet" type="text/css"/>
        <link href="/style/global/mediaquerry/global-mediaq.css" rel="stylesheet" type="text/css"/>

        <!--Material icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <!--End of Head-->
    <body>
        
        <a class="inh" href="/home">
            <div class="head">
                <img id="logo" src="/media/studyboard_logo.png">
                <h1 class="h" id="heading">Studyboard</h1>
            </div>
        </a>
        
        {% include 'sideMenue.html.twig' %}

        <!-- Dashboard -->
        <div class="quicklinks" id="qlinks">
            <div>
                <a href="/home">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">Home</span>
            </div>
            <div>
                <a href="/forum">
                    <i class="material-icons">announcement</i>
                </a>
                <span class="tooltip">Foren</span>
            </div>
            <div>
                <a href="#account">
                    <i class="material-icons">face</i>
                </a>
                <span class="tooltip">Freunde</span>
            </div>
            <div>
                <a href="#settings">
                    <i class="material-icons">settings</i>
                </a>
                <span class="tooltip">Settings</span>
            </div>
            <div id="logout">
                <a href="#logout" onclick="togglelogoutalert()">
                    <i class="material-icons">power_settings_new</i>
                </a>
                <span class="tooltip">Logout</span>
            </div>
        </div>

        <script src="/script/index/dashboard.js"></script>


    </body>
</html>