<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Studyboard | Home</title>
        <link href="./style/global/div.css" rel="stylesheet" type="text/css"/>
        <link href="./style/global/nav.css" rel="stylesheet" type="text/css"/>
        <link href="./style/global/text.css" rel="stylesheet" type="text/css"/>
        <link href="./style/index/dash.css" rel="stylesheet" type="text/css"/>
        <link href="./style/index/image_gal.css" rel="stylesheet" type="text/css"/>
        <link href="./style/index/alert.css" rel="stylesheet" type="text/css"/>
        <link href="./style/global/logout/logout-popup.css" rel="stylesheet" type="text/css"/>
        <link href="./style/global/mediaquerry/global-mediaq.css" rel="stylesheet" type="text/css"/>
        <!--Material icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <!--End of Head-->
    <body>
        <!--Logout-Popup-->
        <div class="bblock" id="dblock">
            <h1>Wirklich ausloggen?</h1>
            <div class="popup">
                <a href="/logout" id="logoutbtn" >Logout</a>
                <a href="#abort" id="abortbtn" onclick="togglelogoutalert()">Abbrechen</a>
            </div>
        </div>
        <a class="inh" href="index.html">
            <div class="head">
                <img id="logo" src="./media/studyboard_logo.png">
                <h1 class="h" id="heading">Studyboard</h1>
            </div>
        </a>
        <!--End of Head-->
        <div class="navbtn" id="navc" onclick="togglenav()">
            <i class="material-icons" id="navbtn">view_headline</i>
        </div>

        <div class="navbar" id="navbar">
            <img id="navbarlogo" src="./media/studyboard_logo.png">
            <a class="active" href="/home">Home</a>
            <a href="/foren">Foren</a>
            <a href="#settings">Einstellungen</a>
            <a href="#freund">Freunde</a>
            <a href="#Impressum">Impressum</a>
            <a href="#logout" onclick="togglelogoutalert()">Abmelden</a>
        </div>
        <div id="close" onclick="togglenav()"></div>
        <!--End -->

        <!-- Dashboard -->
        <div class="quicklinks" id="qlinks">
            <div>
                <a href="./">
                    <i class="material-icons">home</i>
                </a>
                <span class="tooltip">Home</span>
            </div>
            <div>
                <a href="foren">
                    <i class="material-icons">announcement</i>
                </a>
                <span class="tooltip">Foren</span>
            </div>
            <div>
                <a href="#account">
                    <i class="material-icons">face</i>
                </a>
                <span class="tooltip">Freunde</span>
            </div>
            <div>
                <a href="#settings">
                    <i class="material-icons">settings</i>
                </a>
                <span class="tooltip">Settings</span>
            </div>
            <div id="logout">
                <a href="#logout" onclick="togglelogoutalert()">
                    <i class="material-icons">power_settings_new</i>
                </a>
                <span class="tooltip">Logout</span>
            </div>
        </div>

        <script src="./script/global/navbar.js"></script>
        <script src="./script/index/dashboard.js"></script>
        <script src="./script/global/logout/logout.js"></script>
        <script src="./script/global/logout/refer.js"></script>
    </body>
</html>