<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Studyboard | Home</title>
    <link href="/style/global/div.css" rel="stylesheet" type="text/css"/>
    <link href="/style/global/text.css" rel="stylesheet" type="text/css"/>
    <link href="/style/index/dash.css" rel="stylesheet" type="text/css"/>
    <link href="/style/index/image_gal.css" rel="stylesheet" type="text/css"/>
    <link href="/style/index/alert.css" rel="stylesheet" type="text/css"/>
    <link href="/style/global/mediaquerry/global-mediaq.css" rel="stylesheet" type="text/css"/>

    <!--Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<!--End of Head-->
<body>

<a class="inh" href="/home">
    <div class="head">
        <img id="logo" src="/media/studyboard_logo.png">
        <h1 class="h" id="heading">Studyboard</h1>
    </div>
</a>
<div class="menubar">
    <a class="barelement" href="/home"><i class="material-icons">home</i> Home</a>
    <a class="barelement" href="/forum">Foren</a>
    <a class="barelement" href="/createNewForum">Neues Forum</a>
    <a class="barelement" href="/settings">Settings</a>
    <a class="barelement" href="#logout" onclick="togglelogoutalert()">Abmelden</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table>
    <tr>
        <th>space</th>
        <th> StudentId</th>
        <th>ForumId</th>
        <th>ForumName</th>
        <th>Unsubscribe</th>
    </tr>
    {% for abo in abos %}
        <tr>
            <td>  </td>
            <td>{{ abo.student }}</td>
            <td>{{ abo.forum }}</td>
            <td>{{ abo.forumName }}</td>
            <td><a href="/deleteAbo/{{ abo.forum }}"> Deabbonieren</a></td>

        </tr>
    {% endfor %}

</table>

{% include 'sideMenue.html.twig' %}
</body>
</html>