<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studyboard® | Impressum</title>
    <link href="/style/impressum/impressum.css" rel="stylesheet" type="text/css">
    <link href="/style/global/div.css" rel="stylesheet" type="text/css">
    <link href="/style/global/nav.css" rel="stylesheet" type="text/css"/>
    <link href="/style/global/text.css" rel="stylesheet" type="text/css"/>
    <!--Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="head" id="impressumhead">
    <img id="logo" src="/media/studyboard_logo.png">
    <h1 class="h">Impressum</h1>
</div>

<div class="impressum">
    <h2>Disclaimer</h2>

    <p>
        Trotz der Nichtkommerziellen Absichten des Websitebetreibers werden im folgenden die in §5 TMG genanten
        Pflichtangaben erfüllt
    </p>

    <h2><b>Datenschutz</b></h2>

    <p>
        Durch den Besuch des Internetauftritts können Informationen (Datum, Uhrzeit, aufgerufene Seite) über den Zugriff
        auf
        dem Server gespeichert werden.
    </p>

    <p>
        Es werden keine personenbezogenenen (z. B. Name, Anschrift oder E-Mail-Adresse)
        Daten, gespeichert.
    </p>

    <p>
        Sofern personenbezogene Daten erhoben werden, erfolgt dies, sofern möglich, nur mit dem vorherigen
        Einverständnis
        des Nutzers der Webseite. Eine Weitergabe der Daten an Dritte findet ohne ausdrückliche Zustimmung des Nutzers
        nicht
        statt.
    </p>

    <p>
        Der Anbieter weist darauf hin, dass die Übertragung von Daten im Internet (z. B. per E-Mail) Sicherheitslücken
        aufweisen und ein lückenloser Schutz der Daten vor dem Zugriff Dritter nicht gewährleistet werden kann. Der
        Anbieter
        übernimmt keine Haftung für die durch solche Sicherheitslücken entstandenen Schäden.
    </p>

    <p>
        Der Verwendung der Kontaktdaten durch Dritte zur gewerblichen Nutzung wird ausdrücklich widersprochen. Es sei
        denn,
        der Anbieter hat zuvor seine schriftliche Einwilligung erteilt.
    </p>

    <h2>Eigentümer</h2>
    <p><b>Name:</b>Schönhoff</p>
    <p><b>Vorname: </b>Leon</p>
    <p><b>Anschrift: </b>Danziger Weg 1</p>
    <p><b>PLZ / Ort: </b>48324 Sendenhorst</p>
    <p><b>E-Mail: </b> leon.schoenhoff@gmail.com</p>
    <p><b>Unter der Leitung von: </b>Jan Hümmelink, Simon Hanesch</p>

    <h2>Font</h2>
    <p>The font used on this webpage is licensed under the Creative Commons Attribution 4.0 License</p>
</div>
<button class="impback" onclick="back()"><i class="material-icons">arrow_back</i></button>

<script src="/script/impressum/referer.js"></script>
</body>
</html>