<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Studyboard®</title>
    <link rel="stylesheet" type="text/css" href="../style/login/login.css"/>
</head>
<body>
<div class="logobox"><img src="../media/studyboard_logo.png" id="logo"></div>
<div class="navigatorcont">
    <form method="post" action="/">
        <label for="Username"></label>
        <input type="text" name="name" id="Username" placeholder="Username" pattern="regexp" maxlength="8" minlength="8" required>
        <label for="Password"></label>
        <input type="Password" name="password" id="Password" placeholder="Passwort" pattern=".{6,}" required/>
        <input type="submit" value="Submit" id="submit"/>
    </form>
</div>
<script src=""></script>
</body>
</html>