<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studyboard | Logout erfolgreich</title>
    <link rel="stylesheet" type="text/css" href="/style/logout/logout.css"/>
</head>
<body>
<div class="headerbox" id="logocont">
    <img src="/media/studyboard_logo.png" id="logo"/>
</div>
<div class="seperate"></div>

<a href="/logout" class="fbox" id="fbox">Click to log out</a>
<span class="fbox" id="fbox2" onclick="back()">Return to last Page</span>
<script src="/script/logout_succ.js"></script>
</body>
</html>