<link href="/style/global/mediaquerry/global-mediaq.css" rel="stylesheet" type="text/css"/>
<!--Material icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<link href="/style/global/logout/logout-popup.css" rel="stylesheet" type="text/css"/>
<link href="/style/global/nav.css" rel="stylesheet" type="text/css"/>

<!--End of Head-->
<div class="navbtn" id="navc" onclick="togglenav()">
    <i class="material-icons" id="navbtn">view_headline</i>
</div>

<div class="navbar" id="navbar">
    <img id="navbarlogo" src="/media/studyboard_logo.png">
    <a class="active" href="/home">Home</a>
    <a href="/forum">Foren</a>
    <a href="#settings">Einstellungen</a>
    <a href="/createNewForum">Neues Forum</a>
    <a href="#Impressum">Impressum</a>
    <a href="#logout" onclick="togglelogoutalert()">Abmelden</a>
</div>
<div id="close" onclick="togglenav()"></div>
<!--End -->

<!--Logout-Popup-->
<div class="bblock" id="dblock">
    <h1>Wirklich ausloggen?</h1>
    <div class="popup">
        <a href="/logout" id="logoutbtn" >Logout</a>
        <a href="#abort" id="abortbtn" onclick="togglelogoutalert()">Abbrechen</a>
    </div>
</div>

<script src="/script/global/navbar.js"></script>
<script src="/script/global/logout/logout.js"></script>