<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Nutzerübersicht</title>
    <link href="/style/global/div.css" rel="stylesheet" type="text/css"/>
    <link href="/style/global/text.css" rel="stylesheet" type="text/css"/>
    <link href="/style/index/dash.css" rel="stylesheet" type="text/css"/>
    <link href="/style/index/image_gal.css" rel="stylesheet" type="text/css"/>
    <link href="/style/index/alert.css" rel="stylesheet" type="text/css"/>
    <link href="/style/global/mediaquerry/global-mediaq.css" rel="stylesheet" type="text/css"/>

    <!--Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<!--End of Head-->
<body>

<a class="inh" href="/home">
    <div class="head">
        <img id="logo" src="/media/studyboard_logo.png">
        <h1 class="h" id="heading">Nutzerübersicht</h1>
    </div>
</a>
<div class="userList">
    <table>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Status</th>
            <th>Bearbeiten</th>
        </tr>
        {% for user in users%}
            <tr>
                <td>{{ user.studentName }}</td>
                <td>{{ user.studentName }}</td>
                <td>{% if 2 == user.status %}Admin{% elseif 1 == user.status %}Aktiv{% else %}Inaktiv{% endif %}</td>
                <td><a href="/settings/{{ user.studentId }}">Bearbeiten</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% include 'sideMenue.html.twig' %}
</body>
</html>