ul.navlist{
    /*Positioning*/
    width: 17.5%;
    min-width: 200px;
    position: fixed;
    height: 100%;
    padding: 0px;
    /*Styling*/
    list-style-type: none;
    background-color: lightblue;
    overflow: hidden;
    border-radius: 15px;
    display: block;
    border: 1px solid blue;
}
li a{
    /*Positioning*/
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: available;
    display: block;
    /*Styling*/
    font-family: 'Roboto', sans-serif;
    color: #2157C0;
    text-decoration: none;

    transition: color 250ms, box-shadow 250ms, background-color 250ms;
}
li a:active{
    background-color: darkblue;
    color: white;
}
li a:hover{
    background-color: #4469c0;
    color: white;
    box-shadow: 4px 4px 15px gray;
}
li a:hover:not(.active){
    background-color: lightskyblue;
}