/*Heading*/
h1{
    /*Font*/
    font-family: 'Robot', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 30px;
    float: right;

    /*positioning*/
    margin-right: 15px;
}

/*Link*/
a{
    color: inherit;
    text-decoration: none;
}
a:visited{
    color:inherit;
    text-decoration: none;
}