/*Im Tabnavigator soll es keine Navigationsleiste geben*/
.tabbar::-webkit-scrollbar{
    display: none;
}

.tabbar{
    /*Position*/
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    display: inline-block;
    overflow-x: scroll;
    white-space: nowrap;
    /*Styling*/
    font-size: 0;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid blue;
}
button.tab{
    /*Position*/
    display: inline-block;
    height: 100%;
    /*Style*/
    font-size: 20px;
    background-color: white;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    border: 2px solid blue;
    margin-right: 0;
    transition: background-color .2s, color .2s;
    border-radius: 25px;
    margin-left: 15px;
    box-shadow: 1px 1px 6px gray;
}
button.tab:visited{
    color: black;
}
button.tab:hover, button.tab.active:hover {
    background-color: blue;
    color: white;
}
button.tab.active{
    background-color: #3858ff;
    color: white;
}