@media screen and (max-width: 1100px){
    .forum-foot{
        height: 75px;
    }
    .forum-foot input{
        width: 50%;
        font-size: 12px;
        text-align: center;
        margin-right: 0;
        margin-left: 0;
    }
    .forum-foot button{
        margin-right: 1%;
        margin-left: 1%;
    }

    #hideinput{
        margin-left: 0;
    }
    h1.h{
        display: none;
    }
    #logo{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #navc{
        bottom: 15px;
        left: 30px;
    }
}
@media screen and (max-height: 700px){
    .generalcontentfield{
        height: 65%;
    }
}

@media screen and (max-height: 500px) {
    .generalcontentfield{
        height: 50%;
    }
}