html{
    overflow-y: scroll;
    overflow-x: visible;
    height: 100%;
}
::-webkit-scrollbar{
    display: none;
}
body{
    height: 100%;
    min-height: 100%;
    background: white;
    position: relative;
}
.forum-foot{
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: white;
    position: fixed;
    /*Styling*/
    border-top: 1px solid blue;
    box-shadow: -1px -5px 15px gray;
    transition: height .3s, bottom .3s;
    z-index: 15;
    overflow-x: hidden;
}
.forum-foot .block{
    position: relative;
    float: left;
    display: inline-block;
    height: 100%;
    width: 150px;
    border-right: 1px solid blue;
    background-color: lightgray;
    transition: background-color .3s;
}

.forum-foot form {
    position: relative;
    width: 88%;
    height: 80%;
    left: 15px;
    top: 13px;
    display: flex;
}
.forum-foot input{
    position: relative;
    display: inline-block;
    width: 90%;
    margin: 10px;
    padding: 5px 5px 5px 15px;
    font-size: 20px;
    outline: none;
    overflow-y: scroll;
    border-radius: 15px;
    border: 1px solid blue;
    transition: box-shadow .5s;
}
#chatin:focus{
    background-color: white;
    box-shadow: 1px 1px 12px blue;
}
.forum-foot button{
    background-color: white;
    color: blue;
    margin: 10px;
    padding: 0;
    text-align: center;
    overflow: hidden;
    width: 80px;
    border: 1px solid blue;
    border-radius: 50px;
    transition: background-color .2s, color .2s;
}
.forum-foot button:hover{
    background-color: blue;
    color: white;
}
#submit:focus{
    outline: none;
    background-color: greenyellow;
    color: black;
}
#hideinput:focus{
    outline: none;
}
#showinput{
    background-color: white;
    position: fixed;
    bottom: -200%;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 25px;
    border-radius: 500px;
    color: blue;
    border: 1px solid blue;
    transition: bottom .5s, color .2s, background-color .2s;
    z-index: 2;
}
#showinput:hover{
    background-color: blue;
    color: white;
}
#showinput:focus{
    outline: none;
    background-color: lightskyblue;
    color: greenyellow;
}
