/studyboard/nbproject/private/
studyboard/.env
studyboard/nbproject/project.properties
studyboard/nbproject/project.xml
studyboard/.env.test
studyboard/.idea/modules.xml~HEAD
studyboard/.idea/modules.xml~origin_interface_non-productive
studyboard/.idea/misc.xml~HEAD
studyboard/.idea/misc.xml~origin_interface_non-productive
studyboard/.idea/studyboard.iml~HEAD
studyboard/.idea/studyboard.iml~origin_interface_non-productive
studyboard/.idea/workspace.xml
studyboard/.idea/workspace.xml
