html{
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.content-msg{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 0 20px;
    background-color: white;
    display: block;
    overflow: scroll;
}
.content-container{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    background-color: white;
    display: block;
}
.content-msg > div, .content-container > div{
    padding: 2px 0;
}

.content-msg > div{
    position: relative;
    display: block;
    border-radius: 15px;
    min-height: 50px;
    max-height: 500px;
    padding: 15px;
    margin: 5px auto 25px auto;
    width: 90%;
    text-align: center;
    border: 2px solid blue;
    color: white;
    background-color: blue;
}
.metadata-msg {
font-weight: lighter;
    font-size: smaller;
}
.content-msg .msg-sent{
    margin-bottom: 5px;
    text-align: left;
    color: black;
    float: right;
    right: 0;
    margin-left: 35%;
    margin-right: 50px;
    width: 40%;
    background-color: rgba(0, 0, 255, 0.11);
}

.content-msg .msg-rec{
    margin-bottom: 5px;
    float: left;
    text-align: left;
    left: 0;
    color: black;
    margin-right: 35%;
    width: 40%;
    background-color: rgba(0, 0, 255, 0.11);
}
.content-msg .msg-spacer{
    width: 100%;
    height: 250px;
    float: right;
    opacity: 0;
    display: block;
    z-index: -1;
}
.msg-rec .metadiv + .msg-sent .metadiv{
    position: relative;
    right: 0;
    bottom: 50%;
    width: 80px;
    height: 25px;
    border: 1px solid red;
    border-radius: 15px;
}

.forum-iframe {
    width: 100%;
    height: 80%;
    border: none;
    padding-bottom: 75px;
}

.deactivatebtn, .abobtn, .helpplsbtn, .refreshbutton{
    display: block;
    float: right;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid blue;
    text-align: center;
    vertical-align: top;
    padding-top: 25px;
    position: fixed;
    color: #3858ff;
    margin-right: 15px;
    z-index: 1;
}
.deactivatebtn:hover, .abobtn:hover, .helpplsbtn:hover, .refreshbutton:hover{
    background-color: #3858ff;
    color: white;
}
.helpplsbtn{
    top: 0px;
    right: 0;
}
.deactivatebtn{
    top: 300px;
    right: 0;
}
.abobtn{
    top: 100px;
    right: 0;
}
.refreshbutton{
    top: 200px;
}
a:visited{
    color: blue;
}
i{
font-size: 17px;
}

