/*Alertbox*/
div.infobox{
    padding-top: 8px;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 10px;
    left: 20%;
    height: 90px;
    width: 60%;
    border: 1px solid blue;
    background-color: rgba(135, 206, 250, 0.51);
    transition: 1s;
    text-align: center;
    color: white;
    overflow: hidden;
}
.infobox a.closebtn{
    float:right;
    width: fit-content;
    position: relative;
    right: 20px;
    top: -55px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    display: block;
}
.infobox a.closebtn:hover{
    overflow: hidden;
    color: blue;
}
.infobox a:visited {
    color: inherit;
}