.head{
    position: absolute;
    display: block;
    margin: 15px;
    width: 90%;
    height: 70px;
    border-bottom: 3px solid blue;
    box-shadow: 0 2px 8px gray;
    transition: box-shadow 300ms;
    left: 4%;
}
.head:hover{
    box-shadow: 1px 4px 10px gray;
}
#logo{
    position: relative;
    float: left;
    width: 200px;
    padding: 12px;
}
a.inh{
    color:inherit;
    text-decoration: none;
}
a.inh:visited{
    color:inherit;
    text-decoration: none;
}
a.inh:active{
    color:inherit;
    text-decoration: none;
}
/*Alertbox*/
div.infobox{
    padding-top: 8px;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 10px;
    left: 20%;
    height: 90px;
    width: 60%;
    border: 1px solid blue;
    background-color: rgba(135, 206, 250, 0.51);
    transition: 1s;
    text-align: center;
    color: white;
    overflow: hidden;
}
.infobox a.closebtn{
    float:right;
    width: fit-content;
    position: relative;
    right: 20px;
    top: -55px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    display: block;
}
.infobox a.closebtn:hover{
    overflow: hidden;
    color: blue;
}
.infobox a:visited{
    color: inherit;
}