html{
    overflow: hidden;
}

.content-msg{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 0 20px;
    background-color: white;
    display: none;
    overflow: scroll;
}
.content-msg > div{
    padding: 2px 0;
}

.content-msg > div{
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: block;
    border-radius: 15px;
    min-height: 50px;
    max-height: 500px;
    padding: 15px;
    margin: 5px auto 25px auto;
    width: 90%;
    text-align: center;
    border: 2px solid blue;
    color: white;
    background-color: blue;
}
.content-msg .msg-sent{
    margin-bottom: 5px;
    text-align: left;
    color: black;
    float: right;
    right: 0;
    margin-left: 35%;
    width: 40%;
    background-color: rgba(0, 0, 255, 0.11);
}

.content-msg .msg-rec{
    margin-bottom: 5px;
    float: left;
    text-align: left;
    left: 0;
    color: black;
    margin-right: 35%;
    width: 40%;
    background-color: rgba(0, 0, 255, 0.11);
}
.content-msg .msg-spacer{
    width: 100%;
    height: 250px;
    float: right;
    opacity: 0;
    display: block;
}
.msg-rec .metadiv + .msg-sent .metadiv{
    position: relative;
    right: 0;
    bottom: 50%;
    width: 80px;
    height: 25px;
    border: 1px solid red;
    border-radius: 15px;
}