#html{
    overflow: hidden;
    margin-left: 0%;
    transition: margin-left 1s;
    top: 0;
    margin-top: 0;
}

body{
    top: 0;
}

#navbar{
    position: absolute;
    height: 110%;
    width: 400px;
    border: 1px solid blue;
    top: -50px;
    left: -1000px;
    z-index: 35;
    background-color: white;
    box-shadow: 5px -15px 50px gray;
    transition: left 1s;
    overflow-y: scroll;
    overflow-x: hidden;
}

#navbtn{
    position: fixed;
    outline: none;
    bottom: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid blue;
    background-color: white;
    color: blue;
    transition: box-shadow .5s, left 1s, border 1s;
    z-index: 35;
}

#navbtn:hover{
    box-shadow: 2px 2px 15px gray;
}

#navbar a{
    color: blue;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    position: relative;
    text-decoration: none;
    display: block;
    width: 80%;
    margin: 25px auto 25px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid blue;
    border-radius: 5px;
    transition: color .5s, background-color .5s;
}
#navbar a:visited{
    color: blue;
}
#navbar a:hover{
    background-color: blue;
    color: white;
}
#navbar a i{
    float: left;
}
#navbar #space{
    width: 100%;
    height: 50px;
    background-color: white;
    opacity: 0;
}

#barlogo{
    margin-top: 50px;
    position: relative;
    display: block;
    width: 100%;
}

#navbar #navlogout{
    background-color: white;
    color: blue;
    transition: background-color .5s, color .5s;
}

#navbar #navlogout:hover{
    background-color: red;
    color: white;
}
#navblock{
    display: block;
    position: absolute;
    top: 0;
    opacity: 0.7;
    left: -10000px;
    width: 110%;
    height: 110%;
    z-index: 30;
    background-color: white;
}
@media screen and (max-width: 700px) {
    #navbar{
        width: 100%;
    }
    #barlogo{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    #navbar a{
        padding: 25px;
    }
    #logoutbtn{
        width: 80%;
    }
    #abortbtn{
        width: 80%;
    }
    #dblock h1{
        margin-top: 15%;
        width: 80%;
    }
}